
    <!--begin::App-->
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">

      <!--begin::Page-->
      <div class="app-page flex-column flex-column-fluid" id="kt_app_page">

        <!-- ----------------------------------------------------------- -->
        <!--                     HEADEr                                  -->
        <!-- ----------------------------------------------------------- -->

        @if (logueado) {
        <app-header  />
        }

        <!--begin::Wrapper-->
        <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">


          <!-- ----------------------------------------------------------- -->
          <!--                     SIDEBAR                                  -->
          <!-- ----------------------------------------------------------- -->
          @if (logueado) {
            <app-sidebar />
          }


          <!--begin::Main-->
          <div class="app-main flex-column flex-row-fluid" id="kt_app_main">

            <!--begin::Content wrapper-->
            <div class="d-flex flex-column flex-column-fluid">


              <!-- ----------------------------------------------------------- -->
              <!--                     BREADCRUMBS                             -->
              <!-- ----------------------------------------------------------- -->
              @if (logueado) {
                <app-breadcrumbs />
              }


              <!--begin::Content-->
              <div id="kt_app_content" class="app-content flex-column-fluid">

                  <!--begin::Content container-->
                  <div id="kt_app_content_container" class="app-container container-xxl">

                      <!-- ----------------------------------------------------------- -->
                      <!--                     CONTENIDO                             -->
                      <!-- ----------------------------------------------------------- -->

                      <router-outlet />

                      <!-- <app-content/> -->


                  </div>
                  <!--end::Content container-->

              </div>
              <!--end::Content-->

            </div>
            <!--end::Content wrapper-->

            <!-- -------- FOOTER ------------------- -->

            <app-footer />

          </div>
          <!--end:::Main-->

        </div>
        <!--end::Wrapper-->

      </div>
      <!--end::Page-->

    </div>
    <!--end::App-->









    <!--begin::Engage drawers-->

    <!--begin::Engage toolbar-->
    <div
      class="engage-toolbar d-flex position-fixed px-5 fw-bold zindex-2 top-50 end-0 transform-90 mt-5 mt-lg-20 gap-2"
    >
      <!--begin::Help drawer toggle-->
      <a href="http://wwwgoogle.com" target="_blank" >
        <button
          id="kt_help_toggle"
          class="engage-help-toggle btn engage-btn shadow-sm px-5 rounded-top-0"
          title="Acceso directo a intranet"
          data-bs-toggle="tooltip"
          data-bs-custom-class="tooltip-inverse"
          data-bs-placement="left"
          data-bs-dismiss="click"
          data-bs-trigger="hover"
        >
          Intranet
        </button>
      </a>
      <!--end::Help drawer toggle-->
    </div>
    <!--end::Engage toolbar-->


    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
      <i class="ki-duotone ki-arrow-up"
        ><span class="path1"></span><span class="path2"></span
      ></i>
    </div>
    <!--end::Scrolltop-->


