<app-menu-etiqueta [etiqueta]="menu.etiquetaFuncionarios" />

<!-- <app-menu-primer-nivel [primernivel]="menu.menuPrimerNivel" /> -->

<!-- <app-menu-segundo-nivel [segundonivel]="menu.menuSegundoNivel" /> -->

<!-- <app-menu-etiqueta [etiqueta]="menu.etiquetaSistema" /> -->

<app-menu-simple [menusimple]="menu.judiciales2024"/>
<app-menu-simple [menusimple]="menu.generales2025"/>
<app-menu-simple [menusimple]="menu.generales2021segunda"/>
<app-menu-simple [menusimple]="menu.busquedaciudadano"/>




<!-- <app-menu-etiqueta [etiqueta]="menu.etiquetaFuncionarios" />

<app-menu-primer-nivel [primerNivel]="menu.menuPrimerNivel" />

<app-menu-etiqueta [etiqueta]="menu.etiquetaSistema" />

<app-menu-simple [menuSimple]="menu2.opcionSimple"/>
 -->







<!-- --------- EJEMPLO MENU COMPLETO --------- -->
<!-- 
  <app-menu-etiqueta [etiqueta]="menuPrincipal.etiqueta" />

  <app-menu-segundo-nivel [segundoNivel]="menuPrincipal.menuSegundoNivel" />

  <app-menu-primer-nivel [primerNivel]="menuPrincipal.menuPrimerNivel" />

  <app-menu-simple [menuSimple]="menuPrincipal.opcionSimple"/>
 -->



